
html {
        font-family: 'Tahoma', 'sans-serif';
        font-size: 100%;
        font-weight: normal;
        color: hsl(0,0,12%);
        line-height: 1.5;
    }
h1 {
        font-size: 20px;
        font-weight: bold;
        color: #333;
     }
h2 {
        font-size: 32px;
        font-weight: normal;
    }
.color__red {
             color: red;
     }
.color__bg__pink {
    background-color: #FFD4D0;
}
.color__bg__black {
    background-color: #1F1F1F;
    color: whitesmoke;
}
.pink__letters {
      color: #FFD4D0;
      font-weight: semi-bold;
    }
.portfolio__imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

progress [value]{
        color: black;
        background: lightslategray; 
}